
/* LOGIN FORM */

form#login {
    background: gray;
    width: 300px;
    height: 450px;
    padding: 12px 20px;
    margin: 8px 30%;
    text-align: center;   
    box-shadow: 5px 5px 15px 5px #5c5c5c;
    /* display: block;
    box-sizing: border-box; */
    border-radius: 20px;

    
}

h2 {
    color: black;
}

#login {
    background-color: #04aa6d;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
  }

  #login:hover {
    opacity: 0.8;
  }

  image {
    position:  relative; top: 20px;
  }



/* GET IN TOUCH FORM */

form#getintouch {
    background: rgb(207, 4, 4);
    width: 400px;
    height: 550px;
    padding: 30px;
    margin: 10px 30%;
    border: solid 3px #4d0505;
    text-align: center;
    border-radius: 20px;
}

h2 {
    font-size: 2.5em;
    color: rgb(255, 255, 255);
}

small {
    color: white;
}

label {
  color: white;
}


#now {
    background-color: #ffffff;
    color: rgb(250, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  #now:hover {
    opacity: 0.8;
  }


  /* INPUT AND TEXT AREA SIZING ADJUSTMENTS  */

input, textarea, select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}